body {
    text-align: center;
}

#Logo {
    width: 800px;
    height: 563px;
}

img {
    width: 350px;
}

#mycarousel {
    background-color: white;

}

.cars {
    display: inline;
    border: 1px solid black;
}

#mycarousel {
    height: 300px;
    margin-top: 25px;
}

.carousel-inner {
    margin-top: 15px;
    margin-bottom: 15px;
    color: black;
    font-size: 28px;
}

